.md-grid{
  padding : 0 ;
}
.hiddenProducts{
  text-align: right;
}
.md-cell{
  padding-top: 0;
  padding-left: 0;
}
.products-page{
  height: 90vh;
  position: relative;
  overflow: hidden;

  .products-section{
    width : 100%;
    padding : 16px;
    .products-section-buttons{
      width : 100%;
      margin-bottom: 16px;
      button{
        margin-right: 16px;
      }
      .md-text-field-container{
        //float : right;
      }
    }
    .products-section-products{
      width : 100%;
      height : 70vh;
      overflow: auto;
    }
  }


}